* , ::before , ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body{
    font-family: "montserrat";
    background-color: var(--first);
}

:root{
  --first:white;
  --title:#000;
  --p-features:#8f8f8f;
  
}

.dark-theme{
  --first:#000;
  --title:white;
  --p-features: wheat;
  --transition-delay: 1s;
  transition: var(--transition-delay);
}
#title{
    background-color: var(--first);
    transition: var(--transition-delay);
    /* background-color: rgb(23, 21, 21); */
    /* background-color: #ff4c68; */
    color: #000;
}

h1{
    font-family: Montserrat-Black;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    color: var(--title);
}
h3{
  color: var(--title);
}

.btn-download{
    margin: 5% 3% 5% 0;
    color: var(--title);
}


h3{
    font-size: 1.5rem; 
    font-family: "Montserrat" ;
    
}

.custom-shape-divider-bottom-1664999684 {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1664999684 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 241px;
}

.custom-shape-divider-bottom-1664999684 .shape-fill {
    fill: #FFC7C7;
}

.feature{
    padding: 7% 15% ;
    background-color: var(--first);
    /* background-color: #FFC7C7; */
} 

.p-features{
    font-family: "Montserrat-Bold" ;
    color: var(--p-features);
    padding: 3% 13%;
    font-size: larger;
    
}

.col-lg-4{
    text-align: center;
    
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}


#press{
    text-align: center;
    background-color: #ff4c68;
    padding-bottom: 5%;
}




#footer{
    text-align: center;
    background-color: var(--first);
    padding: 7% 15%;
    font-family: "Montserrat-Bold";
    font-size: large;
  
}

.i{
    margin: 5px;
}

@media(min-width: 576px){
    .card-deck{
        display: flex;
        flex-flow: row wrap;
        margin-right: -15px;
        margin-left: -15px; 
    }
}


.wrapper{
    overflow: hidden;
    max-width: 390px;
    background: #fff;
    padding: 30px;
    border: 1px solid palevioletred;
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  }
  .wrapper .title-text{
    display: flex;
    width: 200%;
  }
  .wrapper .title{
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  .wrapper .slide-controls{
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 35px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 5px;
  }
  ::selection{
    background: #fa4299;
    color: #fff;
  }
  .slide-controls .slide{
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
  }
  .slide-controls label.signup{
    color: #000;
  }
  .slide-controls .slider-tab{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    background: -webkit-linear-gradient(left, #a445b2, #fa4299);
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  input[type="radio"]{
    display: none;
  }
  #signup:checked ~ .slider-tab{
    left: 50%;
  }
  #signup:checked ~ label.signup{
    color: #fff;
    cursor: default;
    user-select: none;
  }
  #signup:checked ~ label.login{
    color: #000;
  }
  #login:checked ~ label.signup{
    color: #000;
  }
  #login:checked ~ label.login{
    cursor: default;
    user-select: none;
  }
  .wrapper .form-container{
    width: 100%;
    overflow: hidden;
  }
  .form-container .form-inner{
    display: flex;
    width: 200%;
  }
  .form-container .form-inner form{
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  .form-inner form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
  }
  .form-inner form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
  }
  .form-inner form .field input:focus{
    border-color: #fc83bb;
    /* box-shadow: inset 0 0 3px #fb6aae; */
  }
  .form-inner form .field input::placeholder{
    color: #999;
    transition: all 0.3s ease;
  }
  form .field input:focus::placeholder{
    color: #b3b3b3;
  }
  .form-inner form .pass-link{
    margin-top: 5px;
  }
  .form-inner form .signup-link{
    text-align: center;
    margin-top: 30px;
  }
  .form-inner form .pass-link a,
  .form-inner form .signup-link a{
    color: #fa4299;
    text-decoration: none;
  }
  .form-inner form .pass-link a:hover,
  .form-inner form .signup-link a:hover{
    text-decoration: underline;
  }
  form .btn{
    height: 50px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }
  form .btn .btn-layer{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(right, #a445b2, #fa4299, #a445b2, #fa4299);
    border-radius: 5px;
    transition: all 0.4s ease;;
  }
  form .btn:hover .btn-layer{
    left: 0;
  }
  form .btn input[type="submit"]{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  }

  .footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }
  
  /* https://epicbootstrap.com/snippets/footer-dark
======= */

  i{
    color: var(--title);
  }
  p{
    color: var(--title);
  }
 
.navbar{
  background-color: rebeccapurple;
  margin-bottom: 40px;
}
.btn-secondary{
  margin-left: 3px;
  height: 35px;
}
.nav-item1{
  margin-left: 480px;
}
.nav-item{
  margin-left: 40px;
}
h1{
  margin-left: 40px;
}

.fa-moon{
  position: absolute;
  top: 80px;
  right: 90px;
  cursor: pointer;
}
.fa-sun{
  position: absolute;
  top: 80px;
  right: 140px;
  cursor: pointer;
  opacity: 0;
}
.fa-moon:hover,
.fa-moon:focus{
  transform: scale(1.1);
}
.fa-sun:hover,
.fa-sun:focus{
  transform: scale(1.1);
}
.dark-theme .fa-sun{
  opacity: 1;
}
.dark-theme .fa-moon{
  opacity: 0;
}