* , ::before , ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body{
    font-family: "montserrat";
    background-color: var(--first);
}

:root{
  --first:white;
  --title:#000;
  --p-features:#8f8f8f;
  --purple: #1E1E1E;
  
}

.dark-theme{
  --first:#000;
  --title:white;
  --p-features: wheat;
  --transition-delay: 1s;
  transition: var(--transition-delay);
}
#title{
    background-color: var(--first);
    transition: var(--transition-delay);
    /* background-color: rgb(23, 21, 21); */
    /* background-color: #ff4c68; */
    color: #000;
}

h1{
    font-family: Montserrat-Black;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    color: var(--title);
}
h3{
  color: var(--title);
}



.navbar-brand{
    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar{
    padding: 0 0 4.5rem ;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

.nav-item{
    padding: 0 18px;
}
=======



/*-----home---------*/
.home-section{
  background-color: #362049; 
  margin: 0 !important; 
  padding: 0 !important;
  color: white;
 
}
.home-container{
  display: grid;
  grid-template-columns: 40% 60%;

}
.first-child{
  background-image: linear-gradient(to right, #1A0e28 , #2e2044, #27193b, #180b23);
}
.main{
  position: relative;
}
.main-box{
  display: flex;
  margin: auto;
  margin-top: 0px;
  width: 500px;
  height: 300px;
  background-color: #1b0d26;
  border-radius: 10px;
  margin-top: -200px;
}
.small-circle{
  margin: 10px;
  background-color: #fff;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}
.second-child h1, h3, h4, p{
  text-align: center;
  color: #fff;
  padding: 80px;
}
.home-images{
  position: relative;
  height: 300px;
  width: 250px;
  z-index: 9;
  margin-top: 200px !important;
  display: flex;
  margin: auto;
  margin-left:230px;
}
.home-heading{
  color: #f8e3ff;
  text-align: center;
  margin-top: 90px;
}
.home-subheading{
  margin-top: 0;
}
.home-p{
  margin-top: -100px;
}
.home-btn{
  height:50px;
  width: 250px;
  margin: 10px;
  padding: 10px;
  background-color: #524755;
  border: 1px solid #524755;
  border-radius: 20px;

  color: #fff;
 margin-left: 35%;
}

.btn-download{
    margin: 5% 3% 5% 0;
    color: var(--title);
}


h3{
    font-size: 1.5rem; 
    font-family: "Montserrat" ;
    
}

.custom-shape-divider-bottom-1664999684 {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1664999684 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 241px;
}

.custom-shape-divider-bottom-1664999684 .shape-fill {
    fill: #FFC7C7;
}

.feature{
    padding: 7% 15% ;
    background-color: var(--first);
    /* background-color: #FFC7C7; */
} 

.p-features{
    font-family: "Montserrat-Bold" ;
    color: var(--p-features);
    padding: 3% 13%;
    font-size: larger;
    
}

.col-lg-4{
    text-align: center;
    
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}


#press{
    text-align: center;
    background-color: #ff4c68;
    padding-bottom: 5%;
}




#footer{
    text-align: center;
    background-color: var(--first);
    padding: 7% 15%;
    font-family: "Montserrat-Bold";
    font-size: large;
  
}

.i{
    margin: 5px;
}

@media(min-width: 576px){
    .card-deck{
        display: flex;
        flex-flow: row wrap;
        margin-right: -15px;
        margin-left: -15px; 
    }
}


.wrapper{
    overflow: hidden;
    max-width: 390px;
    background: #fff;
    padding: 30px;
    border: 1px solid palevioletred;
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  }
  .wrapper .title-text{
    display: flex;
    width: 200%;
  }
  .wrapper .title{
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  .wrapper .slide-controls{
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 35px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 5px;
  }
  ::selection{
    background: #fa4299;
    color: #fff;
  }
  .slide-controls .slide{
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
  }
  .slide-controls label.signup{
    color: #000;
  }
  .slide-controls .slider-tab{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    background: -webkit-linear-gradient(left, #a445b2, #fa4299);
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  input[type="radio"]{
    display: none;
  }
  #signup:checked ~ .slider-tab{
    left: 50%;
  }
  #signup:checked ~ label.signup{
    color: #fff;
    cursor: default;
    user-select: none;
  }
  #signup:checked ~ label.login{
    color: #000;
  }
  #login:checked ~ label.signup{
    color: #000;
  }
  #login:checked ~ label.login{
    cursor: default;
    user-select: none;
  }
  .wrapper .form-container{
    width: 100%;
    overflow: hidden;
  }
  .form-container .form-inner{
    display: flex;
    width: 200%;
  }
  .form-container .form-inner form{
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  .form-inner form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
  }
  .form-inner form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
  }
  .form-inner form .field input:focus{
    border-color: #fc83bb;
    /* box-shadow: inset 0 0 3px #fb6aae; */
  }
  .form-inner form .field input::placeholder{
    color: #999;
    transition: all 0.3s ease;
  }
  form .field input:focus::placeholder{
    color: #b3b3b3;
  }
  .form-inner form .pass-link{
    margin-top: 5px;
  }
  .form-inner form .signup-link{
    text-align: center;
    margin-top: 30px;
  }
  .form-inner form .pass-link a,
  .form-inner form .signup-link a{
    color: #fa4299;
    text-decoration: none;
  }
  .form-inner form .pass-link a:hover,
  .form-inner form .signup-link a:hover{
    text-decoration: underline;
  }
  form .btn{
    height: 50px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }
  form .btn .btn-layer{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(right, #a445b2, #fa4299, #a445b2, #fa4299);
    border-radius: 5px;
    transition: all 0.4s ease;;
  }
  form .btn:hover .btn-layer{
    left: 0;
  }
  form .btn input[type="submit"]{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  }

  .footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }
  
  /* https://epicbootstrap.com/snippets/footer-dark
======= */

  i{
    color: var(--title);
  }
  p{
    color: var(--title);
  }
 
.navbar{
  background-color: rebeccapurple;
  margin-bottom: 40px;
}
.btn-secondary{
  margin-left: 3px;
  height: 35px;
}
.nav-item1{
  margin-left: 480px;
}
.nav-item{
  margin-left: 40px;
}
h1{
  margin-left: 40px;
}

.fa-moon{
  position: absolute;
  top: 80px;
  right: 90px;
  cursor: pointer;
}
.fa-sun{
  position: absolute;
  top: 80px;
  right: 140px;
  cursor: pointer;
  opacity: 0;
}
.fa-moon:hover,
.fa-moon:focus{
  transform: scale(1.1);
}
.fa-sun:hover,
.fa-sun:focus{
  transform: scale(1.1);
}
.dark-theme .fa-sun{
  opacity: 1;
}
.dark-theme .fa-moon{
  opacity: 0;
}
.steps{
  border-radius: 20%;
  width: 70%;
  height: auto;
  margin: auto;
  background: linear-gradient( #ef8172, #ffc3bb);
  /* background-color: #ef8172; */
  color: #fff;
}
.heading{
  text-align: center;
  color: white;
  margin-top: 4%;
}

.card{
  width: 70%;
  margin: auto;
  margin-top: 3%;
}

.card-title{
  margin-top: 3%;
  text-align: center;
}
.card-text{
  margin-top:3% ;
  text-align: center;
  font-weight: 100;
}

@media only screen and (max-width: 600px){
  .steps{
    border-radius: 0%;
    width: 100%;
    height: auto;
    margin: auto;
    background: linear-gradient( #a445b2, #fa4299, #a445b2, #fa4299);
  }
}

/*about us*/
.container-abt{
  height: 400px;
   border-radius: 20px;
   background-color: linear-gradient(to right, red,yellow);
}

/*--about--*/

.About{
  text-align: center;
  width:90%;
  margin: auto;
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.About h2{
  
}
.grad1{
  background-image: linear-gradient(to right, #3f305c, #3e2e5a, #3c2a55, #3a2650, #38224a, #331940, #2f1237);

}
.abc p{
  text-align: left;
  color: white !important;
  padding-left: 180px;
}
.main-cnt{
  display: grid;
  grid-template-columns: auto auto;
}

.abc p{
 
        font-family: 'Didact Gothic';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 39px;
        
        color: #FFFFFF;
}
.bcd img{
  margin-top: 300px !important;
}
.extra-info h4{
  text-align: left;
}
.inf h4,p{
  text-align: left;
  font-size: 18px;
  margin-left: -75px;

}
.inf h4{
  margin-top: -150px;
}
.inf p{
  margin-top: -150px;
}
.inf{
  width: 50%;
font-family: 'Crimson Pro';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 44px;

padding: 80px;
color: #000000;
}
.fa-solid{
  background-color: #524755;
  color: white;
  font-size: 10px;
  padding: 10px;
  border-radius: 50%;
  margin-top: -100px  !important;
}

.mail{
  margin-left: 80px;
  margin-top: -10px;
}
.social-media{
  margin-top: -46px;
}
.Footer{
  width: 90%;
  margin: auto;
  border-radius: 20px;
  padding: 20px;
}
.col{
font-family: 'Crimson Pro';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 26px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #000000;
}
